trigger
.claude
.gemini-clipboard
builder
codesandbox
composer
configstore
gcloud
filezilla
gh
git
github-copilot
glab-cli
graphite
gtk-2.0
htop
iterm2
menus
Microsoft\**
raycast
stripe
thefuck
uv
wireshark
yarn
zed
fossil.db
